/* Modules */
.module {
  border: 1px solid #9BA0AF;
  width: 100%;
  /*margin: 20px 3% 0 3%;
  margin-top: 20px;*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px #888888; }

.module header h3 {
  display: block;
  width: 90%;
  float: left;
  color: #1F1F20;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 20px; }

.module header {
  height: 38px;
  width: 100%;
  background: #f1f1f4 url(../images/secondary_bar.png) repeat-x;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.module_content h1 {
  color: #333333;
  text-transform: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 22px;
  margin: 8px 0px; }

.module_content h2 {
  color: #444444;
  text-transform: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 18px;
  margin: 8px 0px; }

.module_content h3 {
  color: #666666;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 0px; }

.module_content h4 {
  color: #666666;
  text-transform: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  margin: 8px 0px; }

.module_content {
  font-family: Arial, Verdana, sans-serif;
  font-size: 1.2em; }

.module footer {
  height: 32px;
  width: 100%;
  border-top: 1px solid #9CA1B0;
  background: #f1f1f4 url(../images/module_footer_bg.png) repeat-x;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

.module_content {
  margin: 10px 20px;
  color: #666; }

/* Module Widths */
.width_full {
  width: 100%; }

.width_half {
  width: 46%;
  margin-right: 0;
  float: left; }

.width_quarter {
  width: 26%;
  margin-right: 0;
  float: left; }

.width_3_quarter {
  width: 66%;
  margin-right: 0;
  float: left; }

.module_content table th {
  line-height: 28px;
  min-width: 130px;
  padding: 0 0 10px 0;
  text-align: left;
  width: 130px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif; }

.module_content table td {
  padding: 0 0 10px 0;
  margin: 0; }

.module_content table tr td:last-of-type {
  overflow: hidden;
  white-space: nowrap; }

.module_content table tr td:last-of-type .tooltip-wrapper {
  overflow: hidden;
  width: 200px; }

.module_content table {
  width: 100%;
  table-layout: fixed; }

.module_content .bubble-left {
  float: left;
  width: 10px;
  height: 29px;
  margin-left: 5px;
  background: url(../images/bubble_left.gif) no-repeat; }

.module_content .bubble-inner {
  float: left;
  padding: 7px 0px 0 2px;
  color: #2e74b2;
  line-height: 14px;
  font-size: 11px;
  height: 22px;
  background: url(../images/bubble_inner.gif) repeat-x; }

.module_content .bubble-right {
  float: left;
  width: 8px;
  height: 29px;
  background: url(../images/bubble_right.gif) right no-repeat; }

.module_content input[type=text] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #BBBBBB;
  height: 20px;
  color: #666666;
  -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
  padding-left: 10px;
  background-position: 10px 6px;
  margin: 0;
  display: block;
  float: left;
  width: 96%;
  margin: 0 10px;
  background-image: none!important;
  margin: 0px 1px 0px 0px!important;
  padding: 1px!important; }

.module_content input[type=text]:disabled {
  background-color: lightgrey; }

.module_content .form-submit {
  width: 120px;
  background-size: 100%!important;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  height: 26px;
  margin: 0 4px 0 0;
  padding: 0;
  text-indent: -3000px; }

.module_content #anchorsubmit {
  background: url(../images/SubmitAnchor_Button.png) no-repeat; }

.module_content #directreceivesubmit {
  background: url(../images/SendMessage_Btn.png) no-repeat; }

#ccdafiletreepanel {
  height: 200px; }

.module_content form table td input[type="radio"] {
  vertical-align: middle; }

