.nav-tabs {
	border:none;
}


/* Modules */

.nav-tabs li.active a:hover {
background-color: lightgray;
text-decoration: underline;
}
.nav-tabs li.active a:focus {
background-color: lightgray;
text-decoration: underline;
}
.nav-tabs li.active a {
background-color: lightgray;
}

.nav-tabs li a {
background-color: #eeeeee;
}

.nav-tabs li a:hover {
background-color: #eeeeee;
text-decoration: underline;
}
.nav-tabs li a:focus {
background-color: #eeeeee;
text-decoration: underline;
}

label input[type="radio"] {
    display:none;
}

.module {
	border: 1px solid #9BA0AF;
	width: 100%;
	/*margin: 20px 3% 0 3%;
	margin-top: 20px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	margin-bottom:25px;
	box-shadow: 2px 2px 2px #888888;
}

.module header h3 {
display: block;
width: 90%;
float: left;
color: #1F1F20;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;

}

.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

 .module_content h1 {
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
margin: 8px 0px;
}

 .module_content h2 {
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
margin: 8px 0px;
}

 .module_content h3 {
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

.module_content h4 {
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

.module_content {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.2em;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 100%;
}

.width_half {
width: 46%;
margin-right: 0;
float: left;
}

.width_quarter {
width: 26%;
margin-right: 0;
float: left;
}

.width_3_quarter {
width: 66%;
margin-right: 0;
float: left;
}


.module_content table th {
line-height: 28px;
min-width: 130px;
padding: 0 0 10px 0;
text-align: left;
width: 130px;
color: #333;
font-family: Arial, Helvetica, sans-serif;
}

.panel input[type=text] {
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	width: 100%;
	margin: 0 10px;
	background-image: none!important;
	margin: 0px 1px 0px 0px!important;
}

.panel input[type=text]:disabled{
	background-color: lightgrey;
}


.panel .form-submit{
	
	width: 120px;
	background-size: 100%!important;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
}


#ccdafiletreepanel
{
	background: #ffffff;
	height:150px;
}

.module_content form table td input[type="radio"]{
	 vertical-align:middle;
}

#precannederrorlock {
	padding: 0 10px 0 0;
	margin: 0;
}

 .rightMenu {
   	position: absolute;
	float: right;
	top: 0px;
	left: 180px;
}

.right
{
    float:right;
}

h6 
{
	margin-top: 0px;
	margin-bottom: 0px;
}
