#ccda_type_radioboxgroup .ui-selecting { background: #38A9E6; }
#ccda_type_radioboxgroup .ui-selected { background: #3875E6; color: white; }
#ccda_type_radioboxgroup { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#ccda_type_radioboxgroup li { margin: 3px 3px 3px -2px; padding: 0.4em; font-size: 1.4em; height: 18px; }
#ccdafileChooser {float:left}
#ccdavalidate_btn {
	clear:both; 
	display:block; 
	position:relative ; 
	width: 200px;
	margin-top: 30px;	
}

div.fileinputs {
	position: relative;
}

div.fileinputs>input{
	width: 320px;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 320px;
}

div.fakefile>img,div.fakefile>input
{
	display: inline-block;
	vertical-align: middle;
}

div.fakefile>img{
	background-image: url(button.png);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 21px;
	min-width: 120px;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity=0);
	opacity: 0;
	z-index: 2;
}

form{
	height: auto; 
    position: relative;
    padding-top: 10px;
}

.blockMsg .progresspanel .lbl, .blockMsg .progresspanel img, .blockMsg .progresspanel .progress
{
	display: inline-block;
	vertical-align: middle;
}

.blockMsg .progresspanel img
{
	height:32px;
	width:32px;
}

#reportSaveAsQuestion input[type="radio"]
{
	float:	right;
}

#ValidationResult
{
	padding: 0px;
}


#ValidationResult .bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
    table-layout: fixed;
    border-collapse: separate;
    width:100%;        
}

#ValidationResult .bordered .table-bordered
{
	border: solid #ccc 1px;
	width: 100%;
    table-layout: fixed;	
}

#ValidationResult .bordered .table-bordered tr td
{
	word-wrap: break-word;
}

#ValidationResult .bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
#ValidationResult .bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

#ValidationResult .bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

#ValidationResult .bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

#ValidationResult .bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

#ValidationResult .bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

#ValidationResult .bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

#ValidationResult .bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

#ValidationResult .bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

#ValidationResult .ui-state-disabled {
    display: none;
}
#CCDAValidationForm{
	margin-top:-20px;
}

#CCDAValidationForm ol li{
	white-space: nowrap;
	overflow: hidden;	
	cursor: hand; 
	cursor: pointer;
	box-shadow: 2px 2px 2px #888888;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#CCDAValidationForm h3{
	font-size: 18px;
	font-weight: bold;
	color: rgb(73, 125, 227);
	font-family: Arial, Verdana, sans-serif;
	line-height: 1.4;
}