

#ccdafileChooser {float:left}
#ccdavalidate_btn {
	clear:both; 
	display:block; 
	position:relative ; 
	width: 200px;
	margin-top: 30px;	
}

div.fileinputs {
	position: relative;
}

div.fileinputs>input{
	width: 320px;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 320px;
}

div.fakefile>img,div.fakefile>input
{
	display: inline-block;
	vertical-align: middle;
}

div.fakefile>img{
	background-image: url(button.png);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 21px;
	min-width: 120px;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity=0);
	opacity: 0;
	z-index: 2;
}

form{
	height: auto; 
    position: relative;
    padding-top: 10px;
}



#reportSaveAsQuestion input[type="radio"]
{
	float:	right;
}

#ValidationResult
{
	padding: 0px !important;
}


#ValidationResult .bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
    table-layout: fixed;
    border-collapse: separate;
    width:100%;        
}

#ValidationResult .bordered .table-bordered
{
	border: solid #ccc 1px;
	width: 100%;
    table-layout: fixed;	
}

#ValidationResult .bordered .table-bordered tr td
{
	word-wrap: break-word;
}

#ValidationResult .bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
#ValidationResult .bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

#ValidationResult .bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

#ValidationResult .bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

#ValidationResult .bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

#ValidationResult .bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

#ValidationResult .bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

#ValidationResult .bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

#ValidationResult .bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

#ValidationResult .ui-state-disabled {
    display: none;
}


code {
	color: inherit;
	white-space: inherit;
	background-color: inherit;
}

.radio {
	display: inline;
}

.radio input[type="radio"]{
	margin: 0px 0px 0px 0px;
}


h6 
{
	margin-top: 0px;
	margin-bottom: 0px;
}

.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 5px;
	background: url(../images/bubble_left.gif) no-repeat;
}

.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:29px;
	background: url(../images/bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(../images/bubble_right.gif) right no-repeat;
}

.modal .nav-tabs {
	border-bottom: none;
}

.modal-wide .modal-header {
	padding-bottom: 0px;
	
}

.panel select {
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	width: 100%;
	margin: 0 10px;
	background-image: none!important;
	margin: 0px 1px 0px 0px!important;
}