.site-title
{
	margin:0px;
}
.site-title img
{
	max-height:120px;
	width:auto;
}

.tableCell2{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px!important;
	margin: 3px;
}


.tableCell2 h6{
	top: 20%;
	position: relative;	
	
}
