<!doctype html>

#parse ($init)

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js #language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id"> <!--<![endif]-->


<head>
	<title>SITE &#150; $the_title</title>
	<meta name="viewport" content="width=device-width">
	
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="$javascript_folder/vendor/bootstrap.min.js"></script>
	<script src="$javascript_folder/removeNoJS.js"></script>
	<script src="$javascript_folder/hoverMenu.js"></script>
	<script src="$javascript_folder/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
   	$theme.include($top_head_include)
</head>

<body class="$css_class">

$theme.include($body_top_include)

#if ($is_signed_in && $showDockBar)
   #dockbar()
#end



<div id="wrapper">
	<div class="container">
		
      	<div class="masthead">
      		#if (!$is_signed_in)
			<div id="login" class="login">
				<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
			</div>
			#end
        	<h3 class="text-muted"><img src="
$images_folder/site/SITP_Logo_Small_WhiteBG.png" alt="SITE logo"/>$site_name</h3>
			
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</div>
		
		

		<div id="content">

			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				<!--$portletDisplay.setTitle($the_title)-->
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
	
		<div class="footer">
	       <p>&copy; Company 2013</p>
	    </div>
	
	</div>
</div>

	

$theme.include($body_bottom_include)

	
</body>

$theme.include($bottom_include)

</html>