.nav-tabs {
	border:none;
}


/* Modules */

.nav-tabs li.active a:hover {
background-color: lightgray;
text-decoration: underline;
}
.nav-tabs li.active a:focus {
background-color: lightgray;
text-decoration: underline;
}
.nav-tabs li.active a {
background-color: lightgray;
}

.nav-tabs li a {
background-color: #eeeeee;
}

.nav-tabs li a:hover {
background-color: #eeeeee;
text-decoration: underline;
}
.nav-tabs li a:focus {
background-color: #eeeeee;
text-decoration: underline;
}

label input[type="radio"] {
    display:none;
}

.module {
	border: 1px solid #9BA0AF;
	width: 100%;
	/*margin: 20px 3% 0 3%;
	margin-top: 20px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	margin-bottom:25px;
	box-shadow: 2px 2px 2px #888888;
}

.module header h3 {
display: block;
width: 90%;
float: left;
color: #1F1F20;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 20px;

}

.module header {
height: 38px;
width: 100%;
background: #F1F1F4 url(../images/secondary_bar.png) repeat-x;
-webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px;
border-top-left-radius: 5px; border-top-right-radius: 5px;
}

 .module_content h1 {
color: #333333;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 22px;
margin: 8px 0px;
}

 .module_content h2 {
color: #444444;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 18px;
margin: 8px 0px;
}

 .module_content h3 {
color: #666666;
text-transform: uppercase;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

.module_content h4 {
color: #666666;
text-transform: none;
text-shadow: 0 1px 0 #fff;
font-size: 13px;
margin: 8px 0px;
}

.module_content {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.2em;
}

.module footer {
height: 32px;
width: 100%;
border-top: 1px solid #9CA1B0;
background: #F1F1F4 url(../images/module_footer_bg.png) repeat-x;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}

.module_content {
margin: 10px 20px;
color: #666;}

/* Module Widths */

.width_full {
width: 100%;
}

.width_half {
width: 46%;
margin-right: 0;
float: left;
}

.width_quarter {
width: 26%;
margin-right: 0;
float: left;
}

.width_3_quarter {
width: 66%;
margin-right: 0;
float: left;
}


.module_content table th {
line-height: 28px;
min-width: 130px;
padding: 0 0 10px 0;
text-align: left;
width: 130px;
color: #333;
font-family: Arial, Helvetica, sans-serif;
}

.panel input[type=text] {
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	width: 100%;
	margin: 0 10px;
	background-image: none!important;
	margin: 0px 1px 0px 0px!important;
}

.panel input[type=text]:disabled{
	background-color: lightgrey;
}


.panel .form-submit{
	
	width: 120px;
	background-size: 100%!important;
	border: none;
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 0 4px 0 0;
	padding: 0;
	text-indent: -3000px;
}


#ccdafiletreepanel
{
	background: #ffffff;
	height:150px;
}

.module_content form table td input[type="radio"]{
	 vertical-align:middle;
}

#precannederrorlock {
	padding: 0 10px 0 0;
	margin: 0;
}

 .rightMenu {
   	position: absolute;
	float: right;
	top: 0px;
	left: 180px;
}

.right
{
    float:right;
}

h6 
{
	margin-top: 0px;
	margin-bottom: 0px;
}


/* Get DC Tool */

div#testcase-results .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

div#testcase-results .panel-heading > .dropdown .dropdown-toggle {
  color: inherit; }

div#testcase-results .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit; }

div#testcase-results .panel-title > a {
  color: inherit; }

div#testcase-results .panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; }

div#testcase-results .panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px; }

div#testcase-results .panel-group .panel + .panel {
  margin-top: 5px; }

div#testcase-results .panel-group .panel-heading {
  border-bottom: 0; }

div#testcase-results .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #dddddd; }

div#testcase-results .panel-group .panel-footer {
  border-top: 0; }

div#testcase-results .panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd; }

div#testcase-results .panel-default {
  border-color: #dddddd; }

div#testcase-results .panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd; }

div#testcase-results .panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd; }

div#testcase-results .panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd; }

div#testcase-results .panel-primary {
  border-color: #428bca; }

div#testcase-results .panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca; }

div#testcase-results .panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca; }

div#testcase-results .panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca; }

div#testcase-results .panel-success {
  border-color: #d6e9c6 !important;
    color: #3c763d  !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%) !important;
    background-repeat: repeat-x !important;
 }

div#testcase-results .panel-success > .panel-heading {
 }

div#testcase-results .panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6; }

div#testcase-results .panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6; }

div#testcase-results .panel-warning {
  border-color: #faebcc; }

div#testcase-results .panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

div#testcase-results .panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #faebcc; }

div#testcase-results .panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #faebcc; }

div#testcase-results .panel-danger {
  border-color: #ebccd1 !important;
    color: #a94442  !important;
  background-color: #f2dede  !important;
  border-color: #ebccd1  !important;
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%) !important;
    background-repeat: repeat-x !important; 
   }

div#testcase-results .panel-danger > .panel-heading {
}

div#testcase-results .panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1; }

div#testcase-results .panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1; }

div#testcase-results .panel-info {
  border-color: #bce8f1; }

div#testcase-results .panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

div#testcase-results .panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1; }

div#testcase-results .panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1; }


#testcase-results-accordion
{
	max-width: 848px;
	min-width: 300px;
	width: 100%;
}

.form-group-addons
{
	border-collapse: initial !important;
}

div#testcase-desc, div#testcase-results, div#hosting-testcase-desc
{
	font-family: Verdana, "sans serif" !important;
}

div#testcase-info div#testcase-desc div > div,
div#testcase-results div#testcase-results-accordion div > div {
    margin: 5px;
    overflow-x: auto;
}

div#testcase-results {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted black;
}

div#testcase-results div.form-group span.form-cell.form-cell-label {
    text-align: left;
}

div#testcase-results div#testcase-results-accordion:not(:empty) + i {
    display: none;
}

div#testcase-results div#testcase-results-accordion h3.ui-accordion-header {
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0, rgb(220, 220, 220) 100%) repeat-x;
    border-color: rgb(200, 200, 200);
}

div#testcase-results div#testcase-results-accordion div.ui-accordion-content {
    padding: 5px;
    font-size: 11px;
}



