.panel input[type=text] {
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	width: 100%;
	margin: 0 10px;
	background-image: none!important;
	margin: 0px 1px 0px 0px!important;
}

.panel input[type=text]:disabled{
	background-color: lightgrey;
}

.panel select {
	border: 1px solid #BBBBBB;
	color: #666666;
	-webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	padding-left: 10px;
	background-position: 10px 6px;
	margin: 0;
	display: block;
	width: 100%;
	margin: 0 10px;
	background-image: none!important;
	margin: 0px 1px 0px 0px!important;
}


.start, .start:visited, .start:hover, .start:active, .start:focus {
	background-image: none;
	text-shadow: none;
}

.start, .fileinput-button {
	width: 180px;
}

.btn-success input {
	background: inherit;
	border: none;
	background-image: none;
}

.accordion-toggle {
	padding-left: 1em;
}
